In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/assets.csv')

/var/folders/mr/mp0qg4bx6sj56pg6fs3s65kc0000gr/T/ipykernel_57832/1697221536.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data/assets.csv')

In [3]:
data.head()

,PERMNO,date,TICKER,COMNAM,PERMCO,BIDLO,ASKHI,PRC,VOL,RET,BID,ASK,SHROUT,NUMTRD
0,10001,2000-01-03,EWST,ENERGY WEST INC,7953,8.4375,8.5625,8.5625,1721.0,0.007353,8.4375,8.5625,2450.0,2.0
1,10001,2000-01-04,EWST,ENERGY WEST INC,7953,8.4375,8.4375,8.4375,1080.0,-0.014599,8.4375,8.5625,2450.0,2.0
2,10001,2000-01-05,EWST,ENERGY WEST INC,7953,8.4375,8.5625,8.5625,1711.0,0.014815,8.4375,8.5625,2450.0,5.0
3,10001,2000-01-06,EWST,ENERGY WEST INC,7953,8.5000,8.5000,8.5000,580.0,-0.007299,8.4375,8.5625,2450.0,2.0
4,10001,2000-01-07,EWST,ENERGY WEST INC,7953,8.4375,8.5625,8.4375,1406.0,-0.007353,8.4375,8.5625,2450.0,4.0

In [5]:
# make data.RET float or NaN
data.RET = pd.to_numeric(data.RET, errors='coerce')

In [6]:
# prices for each permco
prices = data.pivot_table(index='date', columns='PERMNO', values='PRC')
volumes = data.pivot_table(index='date', columns='PERMNO', values='VOL')
returns = data.pivot_table(index='date', columns='PERMNO', values='RET')

shares = data.pivot_table(index='date', columns='PERMNO', values='SHROUT')
market_caps = prices * shares

bids = data.pivot_table(index='date', columns='PERMNO', values='BID')
asks = data.pivot_table(index='date', columns='PERMNO', values='ASK')
spreads = (asks - bids) / prices

bidlos = data.pivot_table(index='date', columns='PERMNO', values='BIDLO')
askhis = data.pivot_table(index='date', columns='PERMNO', values='ASKHI')
spreads2 = (askhis - bidlos) / prices

In [13]:
market_cap_start = market_caps.iloc[0]

biggest_150 = market_cap_start.sort_values(ascending=False).iloc[:150]

returns_new = returns[biggest_150.index].dropna(axis=1)
volumes_new = volumes[returns_new.columns]
spreads_new = spreads[returns_new.columns]
spreads_new2 = spreads2[returns_new.columns]

In [78]:
data[data["PERMNO"]==11850]

,PERMNO,date,TICKER,COMNAM,PERMCO,BIDLO,ASKHI,PRC,VOL,RET,BID,ASK,SHROUT,NUMTRD
1226245,11850,2000-01-03,XOM,EXXON MOBIL CORP,20678,77.8750,80.7500,78.1875,6728599.0,-0.029480,78.1250,78.5000,3461574.0,NaN
1226246,11850,2000-01-04,XOM,EXXON MOBIL CORP,20678,76.5000,78.1875,76.8125,7255399.0,-0.017586,76.6250,77.0000,3461574.0,NaN
1226247,11850,2000-01-05,XOM,EXXON MOBIL CORP,20678,77.8125,81.7500,81.0000,8742500.0,0.054516,80.6250,81.0000,3461574.0,NaN
1226248,11850,2000-01-06,XOM,EXXON MOBIL CORP,20678,80.1875,85.8125,85.0000,9730699.0,0.049383,84.5000,85.5625,3461574.0,NaN
1226249,11850,2000-01-07,XOM,EXXON MOBIL CORP,20678,84.6250,86.2500,84.9375,8302799.0,-0.000735,84.0625,85.5625,3461574.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1232027,11850,2022-12-23,XOM,EXXON MOBIL CORP,20678,106.9000,108.7400,108.6800,11539448.0,0.026445,108.6800,108.6900,4118293.0,NaN
1232028,11850,2022-12-27,XOM,EXXON MOBIL CORP,20678,108.8300,110.4650,110.1900,11962058.0,0.013894,110.1800,110.1900,4118293.0,NaN
1232029,11850,2022-12-28,XOM,EXXON MOBIL CORP,20678,107.9020,110.0000,108.3800,10702075.0,-0.016426,108.3300,108.3400,4118293.0,NaN
1232030,11850,2022-12-29,XOM,EXXON MOBIL CORP,20678,107.9900,109.7200,109.2000,10534028.0,0.007566,109.2100,109.2200,4118293.0,NaN
1232031,11850,2022-12-30,XOM,EXXON MOBIL CORP,20678,108.6100,110.5000,110.3000,11799640.0,0.010073,110.3100,110.3200,4118293.0,NaN

In [98]:
(spreads_new > 0.01).sum().sum() / spreads_new.size

0.03409149818558839

In [97]:
0.01**2*15

0.0015

In [46]:
spreads_new.isna().sum().sum() / spreads_new.size

0.00887549680317954

In [22]:
spreads_new.iloc[:,0]

date
2000-01-03    0.000536
2000-01-04    0.000555
2000-01-05    0.000549
2000-01-06    0.000568
2000-01-07    0.000561
                ...
2022-12-23    0.000168
2022-12-27    0.000169
2022-12-28    0.000043
2022-12-29    0.000207
2022-12-30    0.000042
Name: 10107, Length: 5787, dtype: float64

In [49]:
spreads_new.head()

PERMNO,10107,12060,76076,55976,59328,11850,12490,70519,10104,66093,...,45751,22103,21573,47941,34746,61399,87055,85753,53613,56573
date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,0.000536,0.000833,0.000578,0.005607,0.000718,0.004796,0.012973,0.007092,0.000529,0.021192,...,0.005288,0.006515,0.009009,0.006354,0.000894,0.006726,0.000702,0.000329,0.006584,0.005871
2000-01-04,0.000555,0.006935,0.000613,0.005837,0.000754,0.004882,0.017847,0.009877,0.000580,0.021186,...,0.006920,0.006593,0.006928,0.004854,0.000934,0.009479,0.002972,0.000332,0.013605,0.006148
2000-01-05,0.000549,0.000436,0.000615,0.007937,0.000747,0.004630,0.008621,0.014760,0.000000,0.030598,...,0.004307,0.006472,0.008929,0.006590,0.000948,0.007117,0.000730,0.004213,0.005155,0.006073
2000-01-06,0.000568,0.004290,0.000625,0.007851,0.000794,0.012500,0.017391,0.006928,-0.001302,0.022857,...,0.005409,0.008395,0.008753,0.006656,0.000916,0.009512,-0.000716,0.001209,0.067568,0.008155
2000-01-07,0.000561,0.010739,0.000590,0.007299,0.000762,0.017660,0.004405,0.013889,0.001209,0.008499,...,0.010485,0.006024,0.008529,0.006661,0.000922,0.009302,0.000672,0.000368,0.007092,0.007663

In [50]:
spreads_new2.head()

PERMNO,10107,12060,76076,55976,59328,11850,12490,70519,10104,66093,...,45751,22103,21573,47941,34746,61399,87055,85753,53613,56573
date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,0.056836,0.030000,0.061885,0.052336,0.047414,0.036771,0.034054,0.055556,0.114815,0.052980,...,0.015202,0.021716,0.031532,0.035743,0.058140,0.079596,0.035112,0.127548,0.074074,0.069472
2000-01-04,0.043285,0.027308,0.051471,0.025292,0.067822,0.021969,0.032348,0.046914,0.126524,0.096045,...,0.074048,0.013187,0.049654,0.021036,0.039216,0.069905,0.061664,0.104844,0.039966,0.052254
2000-01-05,0.061505,0.030937,0.071297,0.034722,0.064275,0.048611,0.065733,0.041820,0.101716,0.018081,...,0.054559,0.024811,0.050223,0.021417,0.029384,0.041518,0.025566,0.177669,0.064433,0.035425
2000-01-06,0.050000,0.029604,0.032500,0.029441,0.065873,0.066176,0.047283,0.063510,0.107422,0.042857,...,0.067613,0.044071,0.040481,0.024126,0.048535,0.040428,0.030075,0.180500,0.048142,0.020387
2000-01-07,0.044307,0.032218,0.062574,0.064781,0.056402,0.019132,0.064427,0.039352,0.096131,0.031161,...,0.045872,0.047189,0.040512,0.024147,0.032258,0.031395,0.069174,0.158616,0.081560,0.047893

In [62]:
bidlos[[10107, 12060]].head()

PERMNO         10107     12060
date
2000-01-03  112.0000  149.1875
2000-01-04  112.2500  144.0625
2000-01-05  109.3750  142.5625
2000-01-06  108.3750  142.6250
2000-01-07  107.3125  147.0000